@media screen and (min-width: 750px) {
    article p, #start p {
        font-size: 16px;
    }

}

@media screen and (max-width: 750px) {

    article p, #start p {
        font-size: 11px;
    }
    
}

body {
    width: auto;
    background-image: url(../resources/background2.jpeg);
    font-family: 'MedievalSharp', cursive;
    position: absolute;
}

header {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

img {

    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;

}

article {
    height: auto;
    margin: auto;
    width: 80%;
}

article p {
    text-align: justify;
}

#score {
    height: 100%;
    width: 100%;
    background-color: red;
    position: fixed;
    z-index: 2;
}